/* #PRODUIRE{fond=saisies.css}
   md5:5ad41f7c28ab858a257653f62980bde4 */

/* Dans l'espace privé, afficher les labels des vues de Saisies */
#wysiwyg .afficher .label{ display:block; }

/* Correction d'un bug de navigateur. On l'ajoute là pour tout le monde, c'est gentil. https://stackoverflow.com/a/17863685 */
fieldset {
	min-width:0;
}

.fieldset.pliable > fieldset > .legend{
	cursor:pointer;
}

.fieldset.pliable > fieldset > .legend span{
	padding-left:15px;
	background:transparent url('https://lesscoutsducameroun.sytes.net/prive/images/deplierbas.gif') left center no-repeat;
}

.fieldset.plie > fieldset > .legend span{
	background-image:url('https://lesscoutsducameroun.sytes.net/prive/images/deplierhaut.gif');
}
/**/
.editer.saisie_date_jour_mois_annee .choix {
	background-color:transparent;
	float:left;
	padding:0;
	border:0;
}
.saisie_date_jour_mois_annee .choix+.choix {margin-left:1em;}
.saisie_date_jour_mois_annee .choix label{display:block; width:auto;}
.saisie_date_jour_mois_annee .choix .text{width:auto;}

/**/


/**/
.formulaire_spip li.selecteur_item > label {
	float:none;
}

.formulaire_spip li.selecteur_item div.choix label {
	float:none;
	display:inline;
}

/* avec crayons + formulaire de saisies, éviter un padding à gauche du label */
.formulaire_crayon .editer-groupe .editer { padding-left:10px; }

/* les étapes */
.formulaire_spip .etapes__items {
	list-style: none;
}
.formulaire_spip .etapes__item {
	display: inline-block;
}
.formulaire_spip .etapes__item:not(:first-child):before {
	content: ' → ';
}

/* Pour les saisies grilles, on s'arrange pour faire défiler si ça dépasse en largeur */
.choix_grille_wrapper {
	overflow-x: auto;
}
