* text=auto !eol
classes/facteur.php -text
emails/css.html -text
emails/inc-bas.html -text
emails/inc-button.html -text
emails/inc-haut.html -text
emails/test_email_html.html -text
emails/test_email_texte.html -text
emails/texte.html -text
/erreurs[!!-~]et[!!-~]exceptions.txt -text
/facteur_administrations.php -text
/facteur_fonctions.php -text
/facteur_ieconfig_metas.php -text
/facteur_pipelines.php -text
formulaires/configurer_facteur.html -text
formulaires/configurer_facteur.php -text
inc/envoyer_mail.php -text
inc/facteur_classes.php -text
lang/facteur.xml -text
lang/facteur_de.php -text
lang/facteur_en.php -text
lang/facteur_eo.php -text
lang/facteur_es.php -text
lang/facteur_fa.php -text
lang/facteur_fr.php -text
lang/facteur_fr_tu.php -text
lang/facteur_it.php -text
lang/facteur_ja.php -text
lang/facteur_nl.php -text
lang/facteur_oc_ni_mis.php -text
lang/facteur_pt_br.php -text
lang/facteur_sk.php -text
lang/paquet-facteur.xml -text
lang/paquet-facteur_de.php -text
lang/paquet-facteur_en.php -text
lang/paquet-facteur_eo.php -text
lang/paquet-facteur_es.php -text
lang/paquet-facteur_fr.php -text
lang/paquet-facteur_fr_tu.php -text
lang/paquet-facteur_it.php -text
lang/paquet-facteur_ja.php -text
lang/paquet-facteur_nl.php -text
lang/paquet-facteur_pt_br.php -text
lang/paquet-facteur_ru.php -text
lang/paquet-facteur_sk.php -text
lib/markdownify/LICENSE_LGPL.txt -text
lib/markdownify/markdownify.php -text
lib/markdownify/markdownify_extra.php -text
lib/markdownify/parsehtml/parsehtml.php -text
/paquet.xml -text
phpmailer-php5/LICENSE -text
phpmailer-php5/PHPMailerAutoload.php -text
phpmailer-php5/VERSION -text
phpmailer-php5/class.phpmailer.php -text
phpmailer-php5/class.phpmaileroauth.php -text
phpmailer-php5/class.phpmaileroauthgoogle.php -text
phpmailer-php5/class.pop3.php -text
phpmailer-php5/class.smtp.php -text
phpmailer-php5/composer.json -text
phpmailer-php5/composer.lock -text
phpmailer-php5/extras/EasyPeasyICS.php -text
phpmailer-php5/extras/README.md -text
phpmailer-php5/extras/htmlfilter.php -text
phpmailer-php5/extras/ntlm_sasl_client.php -text
phpmailer-php5/get_oauth_token.php -text
phpmailer-php5/language/phpmailer.lang-am.php -text
phpmailer-php5/language/phpmailer.lang-ar.php -text
phpmailer-php5/language/phpmailer.lang-az.php -text
phpmailer-php5/language/phpmailer.lang-ba.php -text
phpmailer-php5/language/phpmailer.lang-be.php -text
phpmailer-php5/language/phpmailer.lang-bg.php -text
phpmailer-php5/language/phpmailer.lang-ca.php -text
phpmailer-php5/language/phpmailer.lang-ch.php -text
phpmailer-php5/language/phpmailer.lang-cs.php -text
phpmailer-php5/language/phpmailer.lang-da.php -text
phpmailer-php5/language/phpmailer.lang-de.php -text
phpmailer-php5/language/phpmailer.lang-el.php -text
phpmailer-php5/language/phpmailer.lang-eo.php -text
phpmailer-php5/language/phpmailer.lang-es.php -text
phpmailer-php5/language/phpmailer.lang-et.php -text
phpmailer-php5/language/phpmailer.lang-fa.php -text
phpmailer-php5/language/phpmailer.lang-fi.php -text
phpmailer-php5/language/phpmailer.lang-fo.php -text
phpmailer-php5/language/phpmailer.lang-fr.php -text
phpmailer-php5/language/phpmailer.lang-gl.php -text
phpmailer-php5/language/phpmailer.lang-he.php -text
phpmailer-php5/language/phpmailer.lang-hr.php -text
phpmailer-php5/language/phpmailer.lang-hu.php -text
phpmailer-php5/language/phpmailer.lang-id.php -text
phpmailer-php5/language/phpmailer.lang-it.php -text
phpmailer-php5/language/phpmailer.lang-ja.php -text svneol=unset#application/octet-stream
phpmailer-php5/language/phpmailer.lang-ka.php -text
phpmailer-php5/language/phpmailer.lang-ko.php -text
phpmailer-php5/language/phpmailer.lang-lt.php -text
phpmailer-php5/language/phpmailer.lang-lv.php -text
phpmailer-php5/language/phpmailer.lang-ms.php -text
phpmailer-php5/language/phpmailer.lang-nb.php -text
phpmailer-php5/language/phpmailer.lang-nl.php -text
phpmailer-php5/language/phpmailer.lang-pl.php -text
phpmailer-php5/language/phpmailer.lang-pt.php -text
phpmailer-php5/language/phpmailer.lang-pt_br.php -text
phpmailer-php5/language/phpmailer.lang-ro.php -text
phpmailer-php5/language/phpmailer.lang-rs.php -text
phpmailer-php5/language/phpmailer.lang-ru.php -text
phpmailer-php5/language/phpmailer.lang-sk.php -text
phpmailer-php5/language/phpmailer.lang-sl.php -text
phpmailer-php5/language/phpmailer.lang-sv.php -text
phpmailer-php5/language/phpmailer.lang-tr.php -text
phpmailer-php5/language/phpmailer.lang-uk.php -text
phpmailer-php5/language/phpmailer.lang-vi.php -text
phpmailer-php5/language/phpmailer.lang-zh.php -text
phpmailer-php5/language/phpmailer.lang-zh_cn.php -text
prive/squelettes/contenu/configurer_facteur.html -text
prive/themes/spip/images/facteur-16.png -text
prive/themes/spip/images/facteur-24.png -text
prive/themes/spip/images/facteur-32.png -text
